.projects{
    border-bottom: 3px solid #5D3D87;
    padding: 2rem 6rem;
}

.project-content{
    border: 3px solid #5D3D87;
    border-radius: 25px;
}

.project-name{
    font-family: "Fraunces", serif!important;
    font-variation-settings:
    "SOFT" 100,
    "WONK" 1!important;
}

.project-img{
    width:52vw;
    height:18rem;
    aspect-ratio: 16/9;
}

.skill{
    border: 3px solid #5D3D87;
    border-radius: 15px;
}

@media only screen and (max-width: 900px) {
    .projects{
        padding: 2rem;
    }

    .project-img{
        width:90vw;
        height:9rem;
        aspect-ratio: 16/9;
    }
    
    .experience-list{
        border-right: 0;
        border-bottom:3px solid #5D3D87;
    }
    .skills-list{
        grid-template-columns: repeat(2,1fr);
    }
  }